//@author:Erick14911
//https://caniuse.com/
doctype html
html(lang="ES")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name="author" content="Erick De La Rosa")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(http-equiv="content-style-type" content="text/css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(type="text/css" rel="stylesheet" href="assets/static/js/jquery-ui-1.13.2/jquery-ui.min.css")
    link(type="text/css" rel="stylesheet" href="assets/static/js/jquery-ui-1.13.2/jquery-ui.structure.min.css")
    link(type="text/css" rel="stylesheet" href="assets/static/js/jquery-ui-1.13.2/jquery-ui.theme.min.css")
    link(type="text/css" rel="stylesheet" href="assets/static/css/css/bootstrap.min.css")
    link(type="text/css" rel="stylesheet" href="assets/static/fontawesome-free/css/all.min.css")
    link(type="text/css" rel="stylesheet" href="{% static 'assets/static/css/foundation.min.css %}")
    link(type="text/css" rel="stylesheet" href="assets/static/css/reset.css")
    link(type="text/css" rel="stylesheet" href="assets/static/css/fontStyle.css")
    link(type="text/css" rel="stylesheet" href="assets/static/css/SASStyle.css")
    link(type="text/css" rel="stylesheet" href="assets/static/css/style.css")
    link(type="text/css" rel="stylesheet" href="assets/static/css/responsive.css")
    script(type="text/javascript" src="assets/static/js/jquery-3.6.1/jquery-3.6.1.min.js" defer)
    script(type="text/javascript" src="assets/static/js/jquery-ui-1.13.2/jquery-ui.min.js" defer)
    script(type="text/javascript" src="assets/static/css/js/bootstrap.min.js" defer)
    script(type="text/javascript" src="assets/static/fontawesome-free/js/all.min.js" defer)
    script(type="text/javascript" src="assets/static/js/htmx.min.js" defer)
    script(type="text/javascript" src="assets/static/js/script.js" defer)
    link(type="favicon.ico/x-icon" rel="shortcute icon" href="")
    title Document
  body
    main.content
